.idea/
file/


# backend
/backend/.idea
/backend/.ipynb_checkpoints
/backend/.mypy_cache
/backend/.vscode
/backend/__pycache__
/backend/.pytest_cache
/backend/htmlcov
/backend/dist
/backend/site
/backend/.coverage
/backend/coverage.xml
/backend/.netlify
/backend/Pipfile.lock
/backend/ai_web.db

# frontend
/frontend/.DS_Store
/frontend/node_modules/
/frontend/.env
/frontend/.vscode/
/frontend/.idea/
/frontend/.vs/
/frontend/dist/
**/__pycache__/
/frontend/yarn-error.log
/frontend/npm-debug.log
/frontend/lerna-debug.log

/frontend/coverage/

/frontend/cypress/screenshots
/frontend/cypress/videos

/frontend/.vercel
/frontend/.now
/frontend/.env